# Symfony recommended ignores
/web/bundles/
/app/bootstrap*
/app/cache/*
/vendor/

# Yoghurt uploads
web/uploads/*

# Composer
/composer.lock
/composer.phar

# IDE folders
/nbproject

# Other
/app/config/*.yml
*.log