# Symfony recommended ignores
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/*.yml

# Yoghurt uploads
web/uploads/*

# Composer
/composer.lock
/composer.phar

# IDE folders
/nbproject
